@charset "utf-8";

.floor1 {
	height: 100px;
}

.floor1>.lft img {
	width: 128px;
	height: 62px;
	margin-top: 20px;
	margin-left: 210px;
}

.floor1>.rgt img {
	margin-top: 40px;
	margin-right: 225px;
}

.floor2 {
	height: 650px;
	background-color: #FAA8AC;
}

.floor2 img {
	margin-left: 180px;
	margin-top: 70px;
}

.floor3 {
	height: 50px;
	color: #000000;
	margin-top: 35px;
	margin-left: 510px;
}